body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
a,
a:active,
a:focus {
  outline: none;
}

a:active {
  color: black;
}
